<div class="container">
  <div class="row justify-content-center">
    <div>
      <h1>Score</h1>
    </div>

    <div>
      <h4><%= @message %></h4>
      <h5>Your score is : <%= @score %></h5>
    </div>

    <br>
    <div class="btn">
      <%= link_to "Play again", new_path %>
    </div>
  </div>
</div>
